<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <div class="container h-100">
        <div class="card border-0 h-100 justify-content-center text-center align-items-center">
            <h3><%= msg %></h3>
            <hr>
            <h1>404 Error: Page Not Found!</h1>
        </div>
    </div>

    <%- include('includes/end.ejs') %>